extends ../layout/sucursalesindex

block contenido
    if errores
        div(class="fixed top-4 right-4 max-w-xs z-50")
            each error in errores
                p.bg-red-600.text-white.text-sm.text-center.py-2.mt-2.font-bold.rounded-md.shadow-lg.animate-slideInOutRight.px-6= error.msg

    a(href=`/panelcontrol/informacion/${sucursalId}`)
        div(class="flex items-center space-x-1 my-2")
            img(src="/img/atras.png" alt="Icono atras" class="w-4 h-4")
            h2(class="font-semibold text-md") Regresar

    // Contenedor principal adaptativo
    div(class="container mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 gap-8")
        // Formulario de registro del equipo
        div(class="bg-white shadow-md rounded-lg px-6 md:px-8 pt-6 pb-8 mb-4")
            h1(class="text-xl md:text-2xl font-semibold mb-4 text-center md:text-left") Registrar Equipo

            form(method="POST" action=`/equipos/equipos/${sucursalId}`)
                input(type="hidden" name="_csrf" value=csrfToken)
                div(class="mb-4")
                    label(for="nombre" class="block text-gray-700 text-sm md:text-base font-bold mb-2") Nombre del Equipo:
                    input(type="text" id="nombre" name="nombre" placeholder="Nombre del equipo" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")

                div(class="mb-4")
                    label(for="numero_serie" class="block text-gray-700 text-sm md:text-base font-bold mb-2") Número de Serie:
                    input(type="text" id="numero_serie" name="numero_serie" placeholder="Número de serie" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline")

                div(class="mb-4")
                    label(for="tipo_equipo" class="block text-gray-700 text-sm md:text-base font-bold mb-2") Tipo de Equipo:
                    select(id="tipo_equipo" name="tipo_equipo" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline")
                        option(value="Rayos X") Rayos X
                        option(value="Ultrasonido") Ultrasonido
                        option(value="Resonancia Magnética") Resonancia Magnética
                        option(value="Otro") Otro
                
                div(class="flex items-center justify-between")
                    input(
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full md:w-auto"
                        type="submit"
                        value="Registrar equipo"
                    )

        //- // Vista previa de archivos (opcional en móviles)
        //- div(class="bg-white shadow-md rounded-lg px-6 md:px-8 pt-6 pb-8 hidden md:block")
        //-     h2(class="text-xl md:text-2xl font-semibold mb-4") Vista Previa

        //-     div#document-preview(class="mb-4")
        //-         p(class="text-gray-600 text-sm") Ningún documento seleccionado

        //-     div#image-preview.grid.grid-cols-2.md:grid-cols-3.gap-4
        //-         p(class="text-gray-600 text-sm col-span-3") Ninguna imagen seleccionada
